@use 'src/styles/_colors.sass' as c

$sizeLabelPanel: 1.5rem

.panels
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    gap: 2rem

    div
        i
            display: inline-block
            font-size: $sizeLabelPanel
            vertical-align: middle
            color: c.$iconGray

        label
            display: inline-block
            font-size: $sizeLabelPanel
            vertical-align: middle
            margin-left: .5rem
            color: c.$labelGray
            font-style: italic

        p
            display: block
            margin: 0 0 1rem
            font-weight: bold
            color: c.$pGray

.formContainer
    form
        display: flex
        justify-content: space-between
        width: 100%
        
        flex-wrap: wrap
        row-gap: 1rem

        .name
            flex: 1 1 auto
            margin-right: .5rem

        .email
            margin-left: .5rem
            flex: 1 1 auto

        .message
            flex: 1 1 100%

.btnSubmit
    padding: 10px 1rem
    border: none
    width: 100% !important