@use 'src/styles/_breaks.sass' as b
section
    max-width: 100%
    padding: 16px
    margin: 0 auto
    columns: 2
    column-gap: 16px

    @media screen and (min-width: b.$mobile)
        columns: 4

    .box
        margin-bottom: 10px
        break-inside: avoid-column
        cursor: pointer

        img
            border-radius: 8px
            box-shadow: 1px 1px 4px black
            max-width: 100%
            width: 100%
            display: block

        .content
            h2
                font-size: 16px
                font-weight: 500
                @media screen and (min-width: b.$mobile)
                    font-size: 18px
                    font-weight: 700

            *
                margin: 8px 4px
