
section
    max-width: 100%
    padding: 16px
    margin: 0 auto
    columns: 4
    column-gap: 16px

    @media (max-width: 400px)
        columns: 3

    .box
        margin-bottom: 10px
        break-inside: avoid-column
        cursor: pointer

        img
            border-radius: 8px
            box-shadow: 1px 1px 4px black
            max-width: 100%
            width: 100%
            display: block

        .content
            *
                margin: 8px 4px
